@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: Inter, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.override-active [data-flux-radio-group-segmented] [data-checked] {
    background-color: var(--color-blue-200) !important;
}

.dark .override-active [data-flux-radio-group-segmented] [data-checked] {
    background-color: var(--color-blue-800) !important;
}

[data-flux-sidebar-brand] > div:first-child {
    height: auto !important;
    min-width: auto !important;
}